/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Segoe UI", sans-serif;
}

/* Make all images responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
